@import url('http://fonts.googleapis.com/css?family=Share+Tech+Mono');

html, body {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font: 24px normal 'Share Tech Mono', monospace;
  letter-spacing: -2px;
  background: #f7f7f7;
}

.main {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.countdown {
  text-align: center;

  >span {
    margin-right: 12px;
  }

  .value {
    font-size: 60px;
  }

  .unit {
    margin-left: 1px;
    font-size: 36px;
  }
}

